@model IEnumerable<QuanLiNhaHang.Models.Chitietgiohang>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Số_lượng)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giohang.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sanpham.Mã_loại_SP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Số_lượng)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giohang.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sanpham.Mã_loại_SP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Mã_CTGH }) |
            @Html.ActionLink("Details", "Details", new { id=item.Mã_CTGH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Mã_CTGH })
        </td>
    </tr>
}

</table>
